<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AGaugeApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AGaugeApp.Properties.Settings>
            <setting name="ComPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="baurdr" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="Gauge5_Label" serializeAs="String">
                <value>Hotwater ReturnTemp</value>
            </setting>
            <setting name="Gauge4_Label" serializeAs="String">
                <value>Hotwater Feed Temp</value>
            </setting>
            <setting name="Gauge3_Label" serializeAs="String">
                <value>Heating Return Temp</value>
            </setting>
            <setting name="Gauge2_Label" serializeAs="String">
                <value>Heating FeedTemp</value>
            </setting>
            <setting name="Gauge1_Label" serializeAs="String">
                <value>Boiler Temp</value>
            </setting>
            <setting name="Program_Title" serializeAs="String">
                <value>Heating System Monitor</value>
            </setting>
            <setting name="GsensorID1" serializeAs="String">
                <value />
            </setting>
            <setting name="GsensorID5" serializeAs="String">
                <value />
            </setting>
            <setting name="GsensorID4" serializeAs="String">
                <value />
            </setting>
            <setting name="GsensorID3" serializeAs="String">
                <value />
            </setting>
            <setting name="GsensorID2" serializeAs="String">
                <value />
            </setting>
        </AGaugeApp.Properties.Settings>
    </userSettings>
</configuration>