<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AGaugeApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AGaugeApp.Properties.Settings>
            <setting name="ComPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="baurdr" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="Gauge5_Label" serializeAs="String">
                <value>T5</value>
            </setting>
            <setting name="Gauge4_Label" serializeAs="String">
                <value>T4</value>
            </setting>
            <setting name="Gauge3_Label" serializeAs="String">
                <value>T3</value>
            </setting>
            <setting name="Gauge2_Label" serializeAs="String">
                <value>T2</value>
            </setting>
            <setting name="Gauge1_Label" serializeAs="String">
                <value>T1</value>
            </setting>
            <setting name="Program_Title" serializeAs="String">
                <value>Temp System Monitor</value>
            </setting>
            <setting name="GsensorID1" serializeAs="String">
                <value>S1</value>
            </setting>
            <setting name="GsensorID5" serializeAs="String">
                <value>S2</value>
            </setting>
            <setting name="GsensorID4" serializeAs="String">
                <value>S3</value>
            </setting>
            <setting name="GsensorID3" serializeAs="String">
                <value>S4</value>
            </setting>
            <setting name="GsensorID2" serializeAs="String">
                <value>S5</value>
            </setting>
            <setting name="AgMS_min1" serializeAs="String">
                <value>-25</value>
            </setting>
            <setting name="AgMS_max1" serializeAs="String">
                <value>125</value>
            </setting>
            <setting name="AgMS_min2" serializeAs="String">
                <value>-20</value>
            </setting>
            <setting name="AgMS_max2" serializeAs="String">
                <value>125</value>
            </setting>
        </AGaugeApp.Properties.Settings>
    </userSettings>
</configuration>